<div id="usersArea">
  <div class="container">
    <div class="row">
      <br>
      <div class="col-md-12">
        <form action="" id="formUser" method="post">
          <label for="">Entry your name</label>
          <input type="text" class="form-control" id="username" name="nameUser" />
          <br>
          <input type="submit" class="btn btn-primary" value="Login" />
        </form>
      </div>
    </div>
  </div>
</div>


<div id="messagesArea">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h3>Online</h3>
        <ul id="users"></ul>
      </div>
      <div class="col-md-9 message-box">
        <h3>Message</h3>
        <ul id="messages"></ul>
        <div class="message-from"> 
          <div class="navbar-fixed-bottom row-fluid">
            <div class="navbar-inner">
              <div class="container">
                <form action="/insert" id="form-message" class="form-inline" name="messageUser" method="post">
                  <textarea name="" id="message" class="form-control"></textarea>
                  <input type="submit" class="btn btn-primary">
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>