.message-from{
  position: fixed;
  bottom: 20px;
}

.message-from form textarea{ 
  width: 100%!important;
  resize: none;
}
.message-from form input[type=submit]{
  margin: 8px 0 0 0
}
.message-list{
  display: block;
}
#messages { 
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
}
#messages li { 
  padding: 5px 10px; 
}
#messages li:nth-child(odd) { 
  background: #eee; 
}
#messagesArea{
  display: none;
}
#users{
  padding: 0;
}
.message-box{
  padding: 0 0 150px 0;
}